* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  background: #f3f3f3;
  font-family: 'Pretendard';
  line-height: 1.7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

